.card-table{
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  border: 1px solid #E2DDD8;
  margin-top:  20px;
}
.nav-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.title{
 font-family: "DM Sans";
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.btn{
    border: 1px solid #CCC7C0 ;
    border-radius: 12px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.TableInvoices{
    
  width: 100%;
  border-collapse: collapse;
  font-family: Arial;
  border: 1px solid #E2DDD8;
  border-radius: 30px;
 }
 .TableInvoices th {
  background-color: #d7d3ce;
  color: #9E9893;
  padding: 12px;
}

th, td {
    
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thead th{
 background-color:#9E9893;
}