.dashboard {
    .card {
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        width: 230px;
        transition: 0.3s ease;
        cursor: pointer;
        border: 1px solid #e2ddd8;
        margin-top: 20px;
        border-top: 1px solid #2d6a4f;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .card h1 {
        font-size: 19px;
        color: #9e9893;
        margin-bottom: 10px;
    }

    .card .value {
        font-size: 28px;
        font-weight: bold;
        color: #111;
        margin-bottom: 5px;
    }

    .card .subtitle {
        font-size: 19px;
        color: #9e9893;
    }
}
